<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Jakub Chodounský and Barbora Hájková">
    <title><%= title_for(@item) %></title>
    <meta name="description" content="<%= @item[:description] %>">
    <meta name="keywords" content="<%= @item[:tags] ? @item[:tags].join(", ") : "travelling" %>, trips, tracks, travel journal, travel diary, itineraries">
    <meta name="robots" content="all, follow">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= title_for(@item) %>">
    <meta property="og:description" content="<%= @item[:description] %>">
    <meta property="og:url" content="<%= page_url(@item) %>">
    <meta property="og:image" content="<%= page_image_url(@item) %>">
    <meta property="og:image:secure_url" content="<%= page_image_url(@item) %>">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image:src" content="<%= page_image_url(@item) %>">
    <meta property="twitter:site" content="@jakubgarfield">
    <meta property="twitter:creator" content="@jakubgarfield" />
    <meta property="twitter:url" content="<%= page_url(@item) %>">
    <meta property="twitter:description" content="<%= @item[:description] %>">
    <meta property="twitter:title" content="<%= title_for(@item[:title]) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css?v=1.05">
    <link rel="alternate" type="application/atom+xml" title="Bára & Kuba on the road :: The travel diary of two" href="http://feeds.feedburner.com/barakuba">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="canonical" href="<%= page_url(@item) %>">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <h1><%= link_to("Bára & Kuba on the road", "/") %></h1>
      <nav>
        <ul>
          <li><%= link_to("archive", "/archive/") %> &middot; </li>
          <li><%= link_to("tags", "/tags/") %> &middot; </li>
          <li><a href="http://photos.barakuba.com">photos</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2015<br />Barbora Hájková &amp; <a href="https://chodounsky.net">Jakub Chodounský</a><br /><%= link_to("RSS", "http://feeds.feedburner.com/barakuba") %> &middot; <%= link_to("Privacy Policy", "/privacy-policy/") %></p>
    </footer>
    <!--[if lt IE 9]><script>document.createElement('header'); document.createElement('nav'); document.createElement('section'); document.createElement('article'); document.createElement('aside');document.createElement('footer');document.createElement('main');</script><![endif]-->
    <script language="javascript" type="text/javascript" src="/scripts.js"></script>
    <% if @item[:map_coordinates] %>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script>
      function initialize() {
        var map_canvas = document.getElementById("map-canvas");
        if (map_canvas) {
          var map_options = {
            zoom: <%= @item[:map_zoom] ? @item[:map_zoom] : 16 %>,
                  <%= @item[:map_coordinates] ? "center: new google.maps.LatLng(#{@item[:map_coordinates]})," : "" %>
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(map_canvas, map_options);
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    <% end %>
    <% if @item[:gpx] %>
      <script type="application/javascript">
        function _c(c) { return document.getElementsByClassName(c)[0]; }
        function round(number) { return Math.round(number * 100) / 100; }
        function format_duration(seconds) {
          var result = "";
          var hours   = Math.floor(seconds / 3600);
          var minutes = Math.floor((seconds - (hours * 3600)) / 60);

          if (hours < 10) { result += "0"; }
          result += hours;
          result += ":";
          if (minutes < 10) { result += "0"; }
          result += minutes

          return result;
        }
        function fillTrackDetails(distanceContainer, durationContainer, averageSpeedContainer, elevationGainContainer, elevationLossContainer, properties) {
          distanceContainer.textContent = round(properties.distance / 1000);
          durationContainer.textContent = format_duration(properties.moving_duration);
          averageSpeedContainer.textContent = round((properties.distance * 60 * 60) / (properties.moving_duration * 1000));
          elevationGainContainer.textContent = round(properties.uphill_elevation);
          elevationLossContainer.textContent = round(properties.downhill_elevation);
        }

        var map = new L.Map('leaflet-map');
        var url = 'https://otile{s}-s.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg';
        var attribution = '<a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors</a>';
        var tileLayer = new L.TileLayer(url, {subdomains:"1234",attribution: attribution});

        var geojson = <%= generate_geojson(@item) %>;
        var elevation = L.control.elevation({
          position: "topright",
          theme: "steelblue-theme",
          width: 600,
          height: 125,
          margins: { top: 10, right: 20, bottom: 30, left: 50 },
          useHeightIndicator: true,
          interpolation: "linear",
          hoverNumber: {
              decimalsX: 3,
              decimalsY: 0,
              formatter: undefined
          },
          xTicks: undefined,
          yTicks: undefined,
          collapsed: false
        });
        elevation.addTo(map);

        var gjl = L.geoJson(geojson,{ onEachFeature: function(feature, layer) { elevation.addData.bind(elevation)(feature, layer); } }).addTo(map);
        map.addLayer(tileLayer).fitBounds(gjl.getBounds());


        fillTrackDetails(_c('total-distance'), _c('total-duration'), _c('total-average-speed'), _c('total-elevation-gain'), _c('total-elevation-loss'), geojson.properties);

        if (geojson.features.length > 1) {
          for (var i = 0; i < geojson.features.length; i++) {
            var feature = geojson.features[i];
            var tr = document.createElement("tr");
            var description = document.createElement("td");
            var distance = document.createElement("td");
            var duration = document.createElement("td");
            var averageSpeed = document.createElement("td");
            var elevationGain = document.createElement("td");
            var elevationLoss = document.createElement("td");
            fillTrackDetails(distance, duration, averageSpeed, elevationGain, elevationLoss, feature.properties);
            description.textContent = feature.properties.name;
            tr.appendChild(description);
            tr.appendChild(distance);
            tr.appendChild(duration);
            tr.appendChild(averageSpeed);
            tr.appendChild(elevationGain);
            tr.appendChild(elevationLoss);
            _c("map-details").appendChild(tr);
          }
        }
      </script>
    <% end %>
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-4728303-4', 'auto'); ga('send', 'pageview'); </script>
  </body>
</html>
