<% render "default" do %>
  <article class="post">
    <header>
      <h1><%= @item[:title] %></h1>
      <aside><%= attribute_to_time(@item[:created_at]).strftime("%B %e, %G") %></aside>
    </header>

    <section class="image">
      <img src="<%= image_path(@item, @item[:image], rep: 960) %>" alt="Title image" />
    </section>

    <section class="content" id="gallery-container">
      <%= yield %>
    </section>

    <section class="social">
      <ul>
        <li class="facebook"><div class="fb-share-button" data-href="<%= page_url(@item)  %>" data-layout="button_count"></div></li>
        <li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="jakubgarfield" data-hashtags="travel">Tweet</a></li>
      </ul>
    </section>

    <% if show_map?(@item) %>
      <section class="map">
        <div id="map-canvas"></div>
      </section>
    <% end %>

    <footer>
      <aside><%=  @item[:tags].join(", ") %></aside>
      <section class="comments">
         <div id="disqus_thread"></div>
      </section>
    </footer>
  </article>

  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>

  <div id="fb-root"></div>
  <script type="text/javascript"> var disqus_shortname = 'kiwischodounskynet'; (function() { var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })(); </script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <% if show_map?(@item) %>
    <script>
    function initialize() {
      var map_canvas = document.getElementById("map-canvas");
      if (map_canvas) {
        var map_options = {
          zoom: <%= @item[:map_zoom] ? @item[:map_zoom] : 16 %>,
                <%= @item[:map_coordinates] ? "center: new google.maps.LatLng(#{@item[:map_coordinates]})," : "" %>
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(map_canvas, map_options);
        <% if has_kml?(@item) %>
          var kml = new google.maps.KmlLayer({
            url: "<%= page_url(@item) %>doc.kmz",
            map: map
          });
        <% end %>
      }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <% end %>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=1478320385777176"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
  </script>
<% end %>
